/* line 10, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 18, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 556px;
  max-width: 1920px;
  max-height: 900px;
}

/* line 29, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 10em;
  max-height: 15em;
}

/* line 36, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
header nav {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-height: 5%;
  text-align: right;
}

/* line 44, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
header a {
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 2%;
  font-weight: 200;
}

/* line 53, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
header .logo {
  margin: 0  auto;
  padding: 0;
  width: 90%;
}

/* line 58, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
header .logo .logo-pic {
  margin: 0;
  padding: 0;
  width: 35%;
  min-width: 300px;
}

/* line 67, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 20em;
  max-height: 50em;
}

/* line 76, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .table {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: auto;
  margin-top: 5%;
}

/* line 85, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-1 {
  width: 8.33333333333%;
}

/* line 90, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-2 {
  width: 16.6666666667%;
}

/* line 93, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-3 {
  width: 25%;
}

/* line 96, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-4 {
  width: 33.3333333333%;
}

/* line 100, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-5 {
  width: 41.6666666667%;
}

/* line 103, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-6 {
  width: 50%;
}

/* line 106, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-7 {
  width: 58.3333333333%;
}

/* line 109, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-8 {
  width: 66.6666666666%;
}

/* line 112, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-9 {
  width: 75%;
}

/* line 115, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-10 {
  width: 83.3333333333%;
}

/* line 118, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-11 {
  width: 91.6666666666%;
}

/* line 121, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .col-12 {
  width: 100%;
}

/* line 125, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section [class*="col-"] {
  float: left;
}

/* line 132, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .row:before
:after {
  clear: both;
  content: "";
}

/* line 139, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section #pic {
  text-align: center;
}

/* line 143, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section #txt {
  text-align: left;
}

/* line 146, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section .skull {
  margin: 0;
  padding: 0;
  width: 50%;
}

/* line 153, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section h1 {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: #EFEFEF;
}

/* line 159, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  color: #EFEFEF;
}

/* line 166, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
section p {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: #EFEFEF;
  text-align: justify;
}

/* line 175, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
footer {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-height: 5%;
  margin-top: 3%;
}

/* line 182, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
footer nav {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 3em;
  text-align: center;
}

/* line 190, C:/Users/George Houghton/Desktop/BrownBearDesigns-Website/scss/team.scss */
footer a {
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  font-weight: 200;
  color: #EFEFEF;
  text-decoration: none;
  margin-left: 2%;
}

/*# sourceMappingURL=../css/team.map */